body{
    margin: 1%;
    padding: 1%;
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif; 
    background-color: black;
    color: white;
    text-align: center;
}

p{
    padding: 10px;
}

header{
    background-color: rgb(185, 233, 255);
    padding: 5px;
    display: flex;
    flex-direction: column;
}


h1{ 
    /* background-color: grey; */
    text-align: center;
    font-size: 2em;
    color: black;
    padding: 5px;
    margin: 5px;
}

ul {
    /* display: flex;
    flex-direction: column;  */
    text-align: center;
    line-height: 1.5em;
}

nav a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;

}

#current {
    background-color: white;
    /* text-decoration: underline; */
    padding: 5px;
    border-radius: 5px;
}
#current::after{
    /* content: "\1F483"; */
    content: " \2605";
    /* content: url('dancing.png') */
}


a.skip{
    left: 0px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    background-color: white;
    color:  black;
}

a.skip:focus{
   position: absolute;
   top: 0px;
    
}

footer{
    bottom: 0;
    background-color:rgb(185, 233, 255);
    text-align: center;
    color: black;
    padding: 5px;
    margin: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr) 1fr;
    width: 97%;
    margin: auto;
    grid-gap:15px;
}

.grid-container img{
    border-radius: 10px;
}


.Talia{
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
}

.testimony{
margin-top: 20px;
}

.emery-box{
    width:500px;
    margin: 0  auto;
    padding:2rem;
    height:300px;
    color:white;
  }
  .image{
    width: 16rem;
    height: 11rem;
    float: left;
    clip-path: circle(40% at 41% 50%);
    shape-outside: circle(36% at 50% 49%);
  }

  .image img{
    width:100%;
  }

.showVideo {
    border: solid 2px rgb(185, 233, 255);
}

#name, #email, #message{
    color: grey;
}

.contactForm {
    border-radius: 5px;
    justify-self: center;
    padding: 20px;
  }

.monsoon{
    display:none;
}

/* .caption */
/* .intropage{
    position: relative;
    text-align: center;
/* } */

.aboutCadence{
    border: solid white 2px;
    border-radius: 10px;
}


h2{
    font-size: 125%;
    padding: 10px;
    text-align: center;
    /* box-shadow: 0px 0px 20px 0px #ffffff; */
}

.shows h2, .shows p{
    margin: 20px;
}

.disclaimer{
    font-size: 75%;
}

.videos2020, .videos2019, .videos2018, .videos2017 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.videos2021{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.resolution{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.resolutionCaption{
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
    align-self: center;
}

.dirtyafs{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.dirtyAFCaption{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    align-self: center;
}

.inhale{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.inhaleCaption{
    grid-column: 1 / span 1;
    grid-row: 3/ span 1;
    align-self: center;
}

/* .youtubeButton{
    background-color:rgb(185, 233, 255) ;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 0px rgb(185, 233, 255);
} */

button {
    margin-bottom: 20px;
}

.youTube {
    padding: 1.25em 2em;
    background: rgb(227, 244, 252);
    border: 2px solid rgb(61, 121, 148);
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 85%;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
   .youTube::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(109, 177, 209);
      border-radius: inherit;
      /* box-shadow: 0 0 0 2px rgb(61, 121, 148), 0 0.625em 0 0 rgb(179, 224, 245); */
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    .youTube:hover {
      background: rgb(217, 241, 252);
      transform: translate(0, 0.25em);
    }

      .youTube:hover::before {
        /* box-shadow: 0 0 0 2px rgb(61, 121, 148), 0 0.5em 0 0 rgb(179, 224, 245); */
        transform: translate3d(0, 0.5em, -1em);
      }
   
    .youTube:active {
      background: rgb(217, 241, 252);
      transform: translate(0em, 0.75em);
    }

    .youTube:active::before {
        /* box-shadow: 0 0 0 2px rgb(61, 121, 148), 0 0 rgb(179, 224, 245); */
        transform: translate3d(0, 0, -1em);
      }

      button > a{
          text-decoration: none;
      }

form {
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

input {
    width: 50%;
    padding: 10px;
    margin: 7.5px;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;  
  }

  label{
     line-height: 1.25;
  }
textarea{
    font-family: 'Josefin Sans', sans-serif; 
    width: 50%;
}
input[type=submit] {
    background-color: white;
    color: black;
    margin: 5px;
    /* padding: 14px 20px;
    margin: 8px 0; */
    cursor: pointer;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
  }

  h1{
    animation-name: movelogo;
    animation-duration: 4s;
    animation-iteration-count: 1;
    
}


 
/* .smallGroup{
    opacity: 0.5;
    border: solid 3px black;
} */

@keyframes movelogo {
    from{
        /* width: 500px; */
        opacity: 0;
    }
    to{
        /* width: 800px; */
        opacity: 1;
    }
} 

@media all and (min-width:768px){ 

    ul {
    display: flex;
    justify-content: space-around;
    }

    

    /* .smallGroup{
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
        width: 97%;
        margin: auto;
        grid-gap:15px;
    }
    .Talia{
        grid-column: 3 / -1;
        width: 100%;
    }

    .introPage{
        display: grid;
        /* position: relative; */
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    } 
    
    .smallGroup{
        grid-column: 1/ span 1;
        max-height: 500px;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
        grid-row: 1 /  span 2; 
        
    }
    /* .smallgroup2{
        grid-column: 2/span1;
        grid-row: 2/span1;
    } */
    
    .aboutCadence{
        /* position: absolute;
        margin: 0 auto; */
        background-color: rgba(255, 255, 255, .85);
        padding: 30px;
        color: black;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
        border-radius: 10px;
        border: none;
    }  
     .about2 {
        grid-column: 2/span 1;
        grid-row: 2 / span 1;
        border: solid white 2px;
        border-radius: 10px;
     }

    .aboutUsText img{
        width: 50%;
        margin: 0 auto;
    }

/* .intropage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr
} */
    .aboutUsText{
        background-image: url("../images/backstage-bw.jpeg");
        background-attachment: fixed; 
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        
    }

    .aboutUsText p {
        color: black;
        background-color:rgba(255, 255, 255, .85);
        width: 50%;
        margin: 0 auto;
    }

    .monsoon{
        display: block;
        max-height:300px;
        margin: 10px;
       
    }

    /* .flip {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      
      .flip:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      .flip:focus .flip-card-inner, .flip:focus-within .flip-card-inner{
          transform: rotateY(180deg); 
      }

      
      .small-group-monsoon, .flip-info {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      /* .small-group-monsoon {
        background-color: #bbb;
        color: black;
      } 
      
      .flip-info {
          background-color: white;
          color: black;
          transform: rotateY(180deg);
          align-content: center;
      } */

      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        margin: 0 auto;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-inner:focus{
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
        align-items: center;
      } 

      
}


@media all and (min-width:1200px){
    
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    nav{
        width: 50%;
        align-self: center;
    }

    h1{
        text-align: left;
    }
    .introPage{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .smallGroup{
        grid-column: 2 /span 1;
    }
    .aboutCadence{
        grid-column: 1 / span 1;
        grid-row: 1 / -1;
    }

    .emery-box{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .about2{
        grid-column: 3 / span 1;
        grid-row: 1/-1;
    }
      .grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: 97%;
        margin: auto;
        grid-gap: 15px;
    }

    .Talia{
        grid-column: 3 / span 1;
        width: 100%;
        
    }
    .videos2021{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
    }
    .resolution{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .resolutionCaption{
        grid-column: 1 / span 1;
        grid-row: 1/ span 1;
        align-self: center;
    }
    
    .dirtyafs{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .dirtyAFCaption{
        grid-column: 2 / span 1;
        grid-row: 1/ span 1;
        align-self: center;
    }
    
    .inhale{
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .inhaleCaption{
        grid-column: 3 / span 1;
        grid-row: 1/ span 1;
        align-self: center;
    }


    .grid-container img:hover{
       opacity: 0.5;
       
        }

        /* img:hover .hoverInfo > p {
        grid-row: 1 / span 1;
        grid-column: 1/ span 1;
    } */
    
       
}

@media screen and (prefers-reduced-motion: reduce){
    h1{
        transition: none;
        animation: none;
    }

    .aboutUsText{
        background-attachment: initial;
      }

      .flip-card:hover .flip-card-inner, .flip-card-back {
        transform: none;
        display: block;
      }

      .flip-card-inner:focus{
        transform: none;}

        .flip-card-front img{
            display: block;
        }

    .youTube::before, .youTube:hover, .youTube:active{
        transform: none;
        transition: none;
       
    }

    .youTube::before {
    background: none;
    }
      
}